<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">CN331 FLASHBOOK PROJECT</h1>
        
        <div class="card mb-4">
            <div class="card-header">
                <h4 class="m-0">สมาชิกในกลุ่ม</h4>
            </div>
            <div class="card-body">
                <ol>
                    <li>กรรจณา ด้วงชารี 6510615013</li>
                    <li>จิรวัฒน์ พึ่งวงศ์ตระกูล 6510615047</li>
                    <li>จิรัฏฐ์ เจริญแก้ว 6510615054</li>
                    <li>ปรัตถกร ธนามี 6510615187</li>
                    <li>ปรุฬห์ เงาเฉลิมพงศ์ 6510615195</li>
                </ol>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="m-0">รายละเอียดโครงงาน</h4>
            </div>
            <div class="card-body">
                <p>เว็บแอปแฟลชการ์ดนี้เป็นแพลตฟอร์มการเรียนรู้และจดจำคำศัพท์แบบส่วนตัวที่ครอบคลุม สำหรับทุกเพศ ทุกวัย เป็นเครื่องมือที่เข้าถึงง่าย ใช้งานได้สะดวกสำหรับทุกคน ช่วยให้ผู้ใช้สามารถทบทวนและฝึกการจำคำศัพท์ได้ทุกที่ทุกเวลา รวมไปถึงแก้ปัญหาความยุ่งยากในการสร้างและจัดการแฟลชการ์ดแบบกระดาษที่อาจสูญหายหรือเสียหายได้ง่ายช่วยให้ผู้ใช้ใช้บรรลุเป้าหมายในการเรียนรู้เพื่อเตรียมตัวสอบหรือพัฒนาตนเองผ่านการใช้แฟลชการ์ดแบบดิจิทัล</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="m-0">Github repo, Trello and Document links</h4>
            </div>
            <div class="card-body d-flex">
                <a href="https://github.com/6510615047/CN331Project.github.io" class="btn btn-link">Github Repository</a>
                <a href="https://trello.com/b/5YABm7nL/flashbook-board" class="btn btn-link">Trello (Pivotal Tracker)</a>
                <a href="https://docs.google.com/document/d/1er6FhLIjA15bvJsXNkVrvJ4ipueN2B2I_awsXeoXCII/edit?usp=sharing" class="btn btn-link">Document</a>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                <h4 class="m-0">Presentation slides links</h4>
            </div>
            <div class="card-body">
                <ul>
                    <li><a href="https://www.canva.com/design/DAGVz-E2cbk/3upQeD2VQlR1wVT2SjJEfw/view?utm_content=DAGVz-E2cbk&utm_campaign=designshare&utm_medium=link&utm_source=editor" class="btn btn-link">Presentation Iteration 0</a></li>
                </ul>
            </div>
        </div>

        
    </div>

    <!-- Optional Bootstrap JS for further interactivity -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
